@import "./nav.css";
@import "./sidebar.css";
@import "./button.css";
@import "responsive.css";
*{
   font-family: ui-sans-serif ,system-ui,
   sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
 font-size: 16px;
 line-height: 1.5;
 color:var(--color-text-dark);
}

:root {
    --color-gray-300: #D1D5DB;

    --color-text-dark: black;

    --font-size-sm: 0.875rem;

    --line-height-sm: 1.25rem;

    --border-radius-md: 0.25rem;

    --duration-sm: 100ms;

    --color-gray-100: #F3F4F6;

    --color-white: #FFFFFF;
}

.app{
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calender{
    height: 100%;

}